:root {
    --primary: #FF6565;
    --dark: #071629;
    --light: #ffffff;
    --max-width: 1000px;
}

body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.6;
    color: #333;
}

img {
    max-width: 100%;
}

.container {
    width: 90%;
    max-width: var(--max-width);
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: inherit;
}

.btn {
    background: var(--primary);
    color: #fff;
    padding: 12px 30px;
    border-radius: 6px;
    display: inline-block;
    margin-top: 20px;
    transition: opacity 2s ease;
    cursor: pointer;
}

.btn:hover, .btn:active {
    opacity: 0.9;
    color: var(--dark)
}
/*------------Holberton fonts---------*/
@font-face {
  font-family: 'Holberton';
  src: url('fonts/holberton_school-icon/holberton_school-icon.woff2') format('woff2'),
       url('fonts/holberton_school-icon/holberton_school-icon.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.holberton-icon {
  font-family: 'Holberton';
  font-size: 48px;
  color: #FF6565;
}


/*---------HEADER---------*/
.header {
    background: url(/images/headphones_hero_1.jpg) center/cover no-repeat;
    padding: 40px 0 150px;
    color: var(--light);
    text-align: center;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
    padding: 30px 60px;
}

.nav-links {
    display: flex;
    gap: 30px;
    list-style: none;
}

.nav-links a:hover {
    color: var(--primary);
}

.hero h1 {
    font-size: 2.2rem;
    margin-bottom: 10px;
}

.hero-text {
    margin-top: 20px;
    max-width: 600px;
    margin-inline: auto;
}

/*-------- WHAT-WE-DO SECTION -------*/

.what-we-do {
    text-align: center;
    padding: 60px 20px;
}

.services {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    margin-top: 40px;
}

.service h3 {
    margin-top: 15px;
    font-size: 1.1rem;
}

.service p {
    color: #555;
    font-size: 0.9rem;
}

/*----------FOOTER--------*/
.footer {
    background: var(--dark);
    padding: 40px 0;
    color: var(--light);
}

.footer-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
}

.footer-logo {
    height: 40px;
}

.socials {
    display: flex;
    gap: 25px;
}

.socials img {
    width: 24px;
    margin-left: 15px;
    color: white;
}

copyright {
    margin-top: 10px;
    font-size: 0.9rem;
    text-align: center;
    opacity: 0.6;
    justify-content: center;
}


/*----------MOBILE RESPONSIVE----------*/
@media (max-width: 480px) {
    .nav-links {
        display: none;
    }

    .hero h1 {
        font-size: 1.7rem;
    }

    .service-grid {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .results-grid {
        flex-direction: column;
        gap: 30px;
    }

    .container footer-flex {
        flex-direction: column;
        gap: 20px;
    }
}