/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: white;
    color: #333;
}

/* Header */
header {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 30px 60px;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav img {
    width: 140px;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 40px;
}

header nav ul li a {
    color: white;
    font-size: 14px;
    letter-spacing: 1px;
    text-decoration: none;
}

/* Hero Section */
main section:first-of-type {
    height: 100vh;
    background: url("/images/Object.png");
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main section:first-of-type h1 {
    font-size: 70px;
    font-weight: bold;
    margin-bottom: 15px;
}

main section:first-of-type span {
    margin: 0 10px;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 2px;
}

main section:first-of-type button {
    margin-top: 30px;
    padding: 12px 35px;
    background: #C271FF;
    color: white;
    border: none;
    border-radius: 25px;
    font-weight: bold;
    cursor: pointer;
}

main section:first-of-type h2 {
    margin-top: 60px;
    font-size: 22px;
    color: white;
}

main section:first-of-type > div:nth-child(2) {
    display: flex;
    gap: 40px;
    margin-top: 40px;
}

main section:first-of-type > div:nth-child(2) div {
    text-align: center;
}

main section:first-of-type img {
    width: 120px;
    border-radius: 50%;
}

/* Quote Section */
main section:nth-of-type(2) {
    background: #C271FF;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
    gap: 40px;
}

main section:nth-of-type(2) img {
    width: 150px;
    border-radius: 50%;
}

main section:nth-of-type(2) blockquote {
    font-size: 18px;
    margin-bottom: 10px;
}

/* Popular Tutorials*/
main section:nth-of-type(3) {
    padding: 60px;
    text-align: center;
}

main section:nth-of-type(3) h2 {
    font-size: 26px;
    margin-bottom: 40px;
}

main section:nth-of-type(3) > div {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

main section:nth-of-type(3) > div > div {
    width: 250px;
    text-align: left;
}

main section:nth-of-type(3) img {
    width: 100%;
    border-radius: 5px;
}

main section:nth-of-type(3) h3 {
    margin-top: 10px;
    font-size: 18px;
}

main section:nth-of-type(3) p {
    font-size: 14px;
    margin: 5px 0;
}

main section:nth-of-type(3) h4 {
    color: #C271FF;
}

main section:nth-of-type(3) i {
    color: #FFC700;
}

/* Free Membership */
main section:nth-of-type(4) {
    background: #071629;
    color: white;
    text-align: center;
    padding: 80px 20px;
}

main section:nth-of-type(4) > div {
    display: flex;
    justify-content: center;
    gap: 50px;
}

main section:nth-of-type(4) img {
    width: 50px;
    margin-bottom: 10px;
}

main section:nth-of-type(4) p {
    color: #A8A8A8;
}

main section:nth-of-type(4) button {
    margin-top: 40px;
    padding: 12px 35px;
    background: #C271FF;
    border-radius: 25px;
    border: none;
    color: white;
    font-weight: bold;
}

.membership-section {
    background: #0B0D24;
    color: white;
    text-align: center;
    padding: 80px 20px;
}
.membership-section h2 {
    font-size: 28px;
    margin-bottom: 60px;
    font-weight: 400;
}

.membership-section h2 span {
    color: #C271FF;
    font-weight: bold;
}

.membership-features {
    display: flex;
    justify-content: center;
    gap: 80px;
    margin-bottom: 60px;
    flex-wrap: wrap;
}

.membership-features div {
    width: 180px;
    text-align: center;
}

.membership-features img {
    width: 50px;
    margin-bottom: 20px;
}

.membership-features h3 {
    font-size: 16px;
    margin-bottom: 10px;
}

.membership-features p {
    font-size: 14px;
    color: #A8A8A8;
}

.membership-features button {
    padding: 12px 35px;
    border: none;
    border-radius: 25px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    background: linear-gradient(90deg, #C86DD7, #7F00FF);
}



/* FAQ Section */
main section:nth-of-type(5) {
    padding: 80px;
    text-align: center;
}

main section:nth-of-type(5) h3 {
    margin-bottom: 40px;
    font-size: 30px;
}

main section:nth-of-type(5) > div {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

main section:nth-of-type(5) > div > div {
    width: 45%;
}

main section:nth-of-type(5) h3 {
    font-size: 18px;
}

main section:nth-of-type(5) p {
    margin-bottom: 20px;
    color: #555;
}

/* Footer */
footer {
    background: #071629;
    color: white;
    padding: 40px;
    text-align: center;
}

footer i {
    font-size: 22px;
    margin: 0 10px;
    cursor: pointer;
}
